@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.mainPage {
    height: 100vh;
    background-color: rgb(50, 50, 50);
}

input{
    background-color: rgb(100, 100, 100);
    margin-bottom: 1rem;
}

.gradientText {
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(45deg, red 33%, orange 66%, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}